@model SATProject.MVC.DATA.EF.ScheduledClassStatus

@{
    ViewBag.Title = "Class Status Details";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <dl class="dl-horizontal h-100 w-50">
        <dt>
            @Html.DisplayNameFor(model => model.SCSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCSName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SCSID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
