@model IEnumerable<SATProject.MVC.DATA.EF.ScheduledClassStatus>

@{
    ViewBag.Title = "Class Status";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create Status", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SCSName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SCSName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SCSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SCSID })

            @if(Request.IsAuthenticated && User.IsInRole("Admin")){
            @Html.ActionLink(" | Delete", "Delete", new { id = item.SCSID })
            }
        </td>
    </tr>
}

</table>
