<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mentor Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @*<link href="~/Content/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/Content/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">*@

    <!-- Template Main CSS File -->
    @*<link href="~/Content/css/style.css" rel="stylesheet">*@

    @Styles.Render("~/Content/css")

    <!-- =======================================================
    * Template Name: Mentor - v4.7.0
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">@Html.ActionLink("Orange Training", "Index", "Home")</h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="~/Content/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li><a href="courses.html">Courses</a></li>
                    @*<li><a href="trainers.html">Trainers</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="pricing.html">Pricing</a></li>*@

                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#"><span>Scheduler</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>@Html.ActionLink("Enrollment", "Index", "Enrollment")</li>
                                <li>@Html.ActionLink("Students", "Index", "Students")</li>
                                <li>@Html.ActionLink("ScheduledClasses", "Index", "ScheduledClasses")</li>
                                <li><a href="#">Drop Down 1</a></li>
                                @*<li class="dropdown">
                                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Deep Drop Down 4</a></li>
                                            <li><a href="#">Deep Drop Down 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Drop Down 2</a></li>
                                    <li><a href="#">Drop Down 3</a></li>
                                    <li><a href="#">Drop Down 4</a></li>*@
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#"><span>Admin</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>@Html.ActionLink("Students", "Index", "Students")</li>
                                <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                                <li>@Html.ActionLink("ScheduledClass", "Index", "ScheduledClasses")</li>
                                <li>@Html.ActionLink("ScheduledClassStatus", "Index", "ScheduledClassStatus")</li>
                                <li>@Html.ActionLink("StudentStatus", "Index", "StudentStatus")</li>
                                @*<li><a href="#">Drop Down 1</a></li>
                                    <li class="dropdown">
                                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Deep Drop Down 4</a></li>
                                            <li><a href="#">Deep Drop Down 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Drop Down 2</a></li>
                                    <li><a href="#">Drop Down 3</a></li>
                                    <li><a href="#">Drop Down 4</a></li>*@
                            </ul>
                        </li>
                    }
                    @*</ul>*@
                    @*</li>*@
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>

            @if (!Request.IsAuthenticated)
            {
                <a class="get-started-btn" href="@Url.Action("Register", "Account")">Get Started</a>
            }

            @Html.Partial("_LoginPartial")
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
            <h1>Learning Today,<br>Leading Tomorrow</h1>
            <h2>We are team of talented designers making websites with Bootstrap</h2>
            <a href="courses.html" class="btn-get-started">Get Started</a>
        </div>
    </section><!-- End Hero -->

    @RenderBody()<!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Mentor</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    @*<script src="~/Scripts/vendor/purecounter/purecounter.js"></script>
        <script src="~/Scripts/vendor/aos/aos.js"></script>
        <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/Scripts/vendor/php-email-form/validate.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Template Main JS File -->
    @*<script src="~/Content/js/main.js"></script>*@

</body>

</html>