@model SATProject.MVC.DATA.EF.ScheduledClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScheduledClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
