@model IEnumerable<SATProject.MVC.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SSName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SSName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SSID })
        </td>
    </tr>
}

</table>
