@model IEnumerable<SATProject.MVC.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Enrollment";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnrollmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnrollmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnrollmentID })
        </td>
    </tr>
}

</table>
